{% extends "base.html" %}
{% block body %}

<br>
<div class="row">
    <div class="col-md-6">
        <form method="POST" action="{{url_for('search_paciente')}}" >
            <input class="form-control" name="paciente" type="text" placeholder="Search"
                   aria-label="Search">
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-6"> <!-- css -->
        <form method='POST' action="{{url_for('delete_user')}}">
            <table id="webcam-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Apellidos</th>
                        <th>Dni</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pacientes in clientes %}
                    <td>
                        <input name="delete" type="checkbox" value='{{ pacientes.3 }}'>
                        {{ pacientes.0 }}</td>
                    <td>
                        {{ pacientes.1 }}</td>
                    <td>
                        {{ pacientes.2 }}</td>
                </tbody>
                {% endfor %}
            </table>
            <input type="submit" value="Baja">
        </form> 
    </div>
</div>

<!-- Scripts javascript -->
<!-- <script src = "{{ url_for('static', filename = 'js/sortable.js') }}" ></script> -->

{% endblock %}